.agency_view{
    background-color: #F0FAFF;
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
.agency_list{
    border-left: 2px solid #2C76DC;
    padding-left: 60px; 
}
.display_board{
    width: fit-content;
    height:auto;
    padding: 40px;
    background-color: #F0FAFF;
}
@media screen and (max-width: 992px){
    .agency_list{
        border-left:none;
        padding-left: 60px; 
    }
}
@media screen and (min-width: 765px) and (max-width: 990px){
    .image-company{ 
        display: flex;
        justify-content: center;
        width: 100%;    
    }  
    .profile-about-title{
        font-size: 20px;
    }
    .profile-subdes{ 
        font-size: 20px;
        line-height: 40px;
    }
    .border-b-line{
       border: 0.5px solid #2C76DC;
    } 
    .profile-about-title{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .select_tab_pane{
        margin-left: 40px;
    }
    .select_tab_pane a:active{ 
        border-bottom: 0.5px solid #2C76DC;
    }
    .select_tab_pane a{
        margin: 5px;
    } 
    .mobile-form-find{
        margin-top: 40px !important;
    }
    .swiper-slide{
        width: fit-content !important;
    }
    .card-grid-2 .card-block-info{
        padding: 0px !important;
    }
}
@media screen /*and (min-width: 485px)*/ and (max-width: 600px){
/* For screen lower than 600px */
    .image-company{ 
        display: flex;
        justify-content: center;
        width: 100%;    
    }  
    .agency-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .aboutagency{
        font-size: 10px !important;
        width: auto !important;
    }
    .aboutagency-title{
        font-size: 20px !important;
        display: flex;
        justify-content: center;
    }
    .agency_view{
        margin-left: 15px;
        margin-right: 15px;
    }
}